* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #212121;
	color: #CFD8DC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 100%;
	position: absolute;
}

header {
    display: flex; 
    width: 100%;
    justify-content: center;
    flex-direction: row;
}
aside {
    display: flex; 
    width: 100%;
    justify-content: center;
    flex-direction: row;
}

aside div {
	margin-top: 50px;
	min-width: 256px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

aside div i {
	text-decoration: none;
	color: #CFD8DC;
}

aside div i {
	transition: 0.3s;
}
.fa-square-github:hover {
	color: #EF5350;
}
.ai-cv-square:hover {
	color: #AB47BC;
}
.fa-square-twitter:hover {
	color: #42A5F5;
}
.ai-google-scholar-square:hover {
	color: #9CCC65;
}
.fa-linkedin:hover {
	color: #FFCA28;
}

header div p {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding-left: 30px;
    height: 100%;
    line-height: 5em;
}

.type {
  font-size: 4em;
  font-weight:100;
}

